streamlit==1.40.1
langchain==0.1.12
langchain-community
langchain-groq==0.0.6
langchain-core
langsmith==0.1.146 
pydantic==2.10.1 
pydantic-core==2.27.1 
requests-toolbelt==1.0.0
sentence-transformers==2.5.1
python-dotenv==1.0.1
PyPDF2==3.0.1
typing-extensions>=4.8.0
snowflake-connector-python
snowflake-sqlalchemy
langchain
faiss-cpu==1.8.0
requests==2.31.0


